@import "../../styles/_config.scss";

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  word-break: break-word;
  // margin-top: 0.8rem;
  margin-top: 0;
  // margin-bottom: 3.4rem;
  margin-bottom: 3rem;
  letter-spacing: 0.04em;
  font-weight: 700px;
  @media screen and (max-width: $breakPoint) {
    font-size: 32px;
    margin-bottom: 2rem;
  }
}

.info {
  display: flex;
  font-size: 19px;
  font-weight: 500;
  color: var(--color-light-text);
  letter-spacing: 0.05rem;
  align-items: center;
  margin-bottom: 0.8rem;
  font-family: -apple-system, "Segoe UI", sans-serif;
  @media screen and (max-width: $breakPoint) {
    font-size: 17px;
    // font-weight: 400;
  }
}
.authorIcon {
  display: inherit;
}
.authorIconImg {
  border-radius: 50%;
}
.authorName {
  color: var(--color-light-text);
  margin-right: 1rem;
  margin-left: .6rem;
  text-decoration: none;
}
.authorName:hover {
  text-decoration: underline;
}

.date {
  font-family: -apple-system, "Segoe UI", sans-serif;
}

.article {
  margin-top: 3rem;
  font-size: 16px;
  line-height: 2rem;

  > p > code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    background-color: #f4f4f4;
    color: var(--color-light-text);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  > pre {
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--color-code-bg);
    overflow-x: auto;
    padding: 1rem $widePaddingRight;
    margin-right: $wideCodeMarginRight;
    margin-left: $wideCodeMarginLeft;
    @media screen and (max-width: $maxWidth) {
      border-radius: 0;
    }
    @media screen and (max-width: $breakPoint) {
      width: 100%;
      padding: 1rem $narrowPaddingRight;
      margin-right: $narrowCodeMarginRight;
      margin-left: $narrowCodeMarginLeft;

      font-size: 14px;
    }
  }

  > h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.6;
  }
}