@import '../../styles/config';

.spacer {
  width: 0;
  height: 0;
  margin-top: 2rem;
}

.item {
  width: 100%;
  padding: .8rem 1.2rem;
  margin-bottom: 1.6rem;
  box-sizing: border-box;
  cursor: pointer;
  @media screen and (max-width: $breakPoint) {
    margin-bottom: 1rem;
  }
}
.item:hover {
  background-color: var(--color-hover-bg);
}

.title {
  color: var(--color-text);
  font-size: 23px;
  // font-weight: bold;
  font-weight: regular;
  text-decoration: none;
  // font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", 'Montserrat', sans-serif;
  line-height: 1.6;
  @media screen and (max-width: $breakPoint) {
    font-size: 20px;
  }
}
.title:hover {
  text-decoration: none;
}

.articleInfo {
  margin-top: .4rem;
  line-height: 1.7rem;
  div {
    display: inline;
  }
}

.separation {
  color: var(--color-light-text);
  font-size: 17px;
  margin-right: .5rem;
  margin-left: .5rem;
  @media screen and (max-width: $breakPoint) {
    font-size: 16px;
  }
}

.date {
  display: inline-block;
  font-size: 15px;
  // font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--color-light-text);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", Arial, メイリオ, Meiryo;
  @media screen and (max-width: $breakPoint) {
    font-size: 13px;
  }
}