@import "../../styles/_config.scss";

.title {
  font-family: 'Montserrat', sans-serif;
  color: #262626;
  font-size: 38px;
  word-break: break-word;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
  letter-spacing: 0.04em;
  font-weight: 700px;
  @media screen and (max-width: $breakPoint) {
    font-size: 32px;
  }
}

.date {
  font-size: 16px;
  color: #727272;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", Arial, メイリオ, Meiryo;
  font-weight: 600;
}

.article {
  font-size: 16px;
  line-height: 2rem;
  color: #262626;

  > p > code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    background-color: #f4f4f4;
    color: #4c4c4c;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  > pre {
    font-size: 17px;
    border-radius: 10px;
    width: 100%;
    // margin: 0 calc(50% - 100%);
    // width: 100%;
    overflow-x: auto;
    padding: 1rem $widePaddingRight;
    margin-right: $wideCodeMarginRight;
    margin-left: $wideCodeMarginLeft;
    @media screen and (max-width: $maxWidth) {
      border-radius: 0;
    }
    @media screen and (max-width: $breakPoint) {
      width: 100%;
      padding: 1rem $narrowPaddingRight;
      margin-right: $narrowCodeMarginRight;
      margin-left: $narrowCodeMarginLeft;

      font-size: 16px;
    }
  }

  > h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.6;
  }
}