@import '../../styles/config';

.spacer {
  width: 0;
  height: 0;
  margin-top: 2rem;
}

.item {
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.title {
  // color: #0c53c8;
  // color: #4285F4;
  // color: #1171ac;
  // color: $linkColor;
  color: var(--color-text);
  // font-size: 22px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  @media screen and (max-width: $breakPoint) {
    font-size: 22px;
  }
}
.title:hover {
  // opacity: 0.7;
  text-decoration: underline;
  // color: #AA4444;
  // color: $linkColor;
}

.articleInfo {
  // display: flex;
  // align-items: center;
  div {
    display: inline;
  }
}

.separation {
  font-size: 20px;
  margin-right: .5rem;
  margin-left: .5rem;
  @media screen and (max-width: $breakPoint) {
    font-size: 16px;
  }
}

.date {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--color-light-text);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", Arial, メイリオ, Meiryo;
  // font-weight: 600;
  // margin-bottom: 0.2rem;
  @media screen and (max-width: $breakPoint) {
    font-size: 14px;
  }
}