@import "../../styles/_config.scss";

.footer {
  width: 100%;
  // background-color: #fafafa;
  // color: #bbbbbb;
  padding: 1.8rem 0;
  border-top: 1px solid #ededed;
  margin-top: auto;
  @media screen and (max-width: $breakPoint) {
    padding: 1rem 0;
  }
}

.footerContainer {
  max-width: $maxWidth;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-right: $widePaddingRight;
  padding-left: $widePaddingLeft;

  @media screen and (max-width: $breakPoint) {
    padding-right: $narrowPaddingRight;
    padding-left: $narrowPaddingLeft;
  }
}

.footerLinks {
  // margin-left: auto;
  font-size: 18px;

  a {
    display: inline-block;
    color: $defaultLinkColor;
    text-decoration: none;
    margin-right: 1.7rem;
  }
  a:last-child {
    margin-right: 0;
  }
}

.copyright {
  // text-align: center;
  font-size: 17px;
  margin-right: 1rem;
}

.me {
  color: #5a95f5;
  text-decoration: none;
}
.me:visited {
  color: #5a95f5;
  text-decoration: none;
}