@import "../../styles/_config.scss";

.footer {
  font-family: sans-serif;
  width: 100%;
  background-color: #fafafa;
  color: #bbbbbb;
  padding: 1.5rem 0;
  margin-top: auto;
  border-top: 1px solid #ededed;
}

.footerContainer {
  max-width: $maxWidth;
  box-sizing: border-box;
  margin: auto;

  padding-right: $widePaddingRight;
  padding-left: $widePaddingLeft;

  @media screen and (max-width: $breakPoint) {
    padding-right: $narrowPaddingRight;
    padding-left: $narrowPaddingLeft;
  }
}

.copyright {
  // margin: 0.7rem;
  text-align: center;
}

.me {
  color: #5a95f5;
  text-decoration: none;
}
.me:visited {
  color: #5a95f5;
  text-decoration: none;
}