.footer {
  font-family: sans-serif;
  width: 100%;
  background-color: #fafafa;
  color: #bbbbbb;
  padding: 1.5rem 0;
  margin-top: auto;
  border-top: 1px solid #ededed;
  // min-height: 5rem;
}

.footerContainer {
  max-width: 740px;
  box-sizing: border-box;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  margin: auto;
}

.copyright {
  // margin: 0.7rem;
  text-align: center;
}

.me {
  color: #5a95f5;
  text-decoration: none;
}
.me:visited {
  color: #5a95f5;
  text-decoration: none;
}