@import "../../styles/_config.scss";

.header {
  position: relative;
  z-index: 0;
  width: 100%;
  background-color: #fcfcfc;
  padding: 0.5rem 0;
  box-shadow: 0 2.2px 4px 0 rgba(0,0,0,0.1);
}

.headerContainer {
  max-width: $maxWidth;
  width: 100%;
  box-sizing: border-box;;
  margin-right: auto;
  margin-left: auto;

  padding-right: $widePaddingRight;
  padding-left: $widePaddingLeft;

  @media screen and (max-width: $breakPoint) {
    padding-right: $narrowPaddingRight;
    padding-left: $narrowPaddingLeft;
  }

}

.siteTitle {
  display: inline-block;
  font-family: 'Orbitron', Montserrat, sans-serif;
  // font-family: Montserrat;
  // font-family: 'Montserrat Alternates';
  // font-family: 'Righteous';
  // font-family: 'Bungee';
  color: #0E0E0E;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
}
.siteTitle:first-letter {
  color: #f45842;
  font-size: 40px;
}
// .siteTitle:hover {
//   text-decoration: none;
// }