@import "../../styles/_config.scss";

.header {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 1rem 0;
  border-bottom: solid 1px var(--color-line);
  @media screen and (max-width: $breakPoint) {
    padding: .8rem 0;
  }
}

.headerContainer {
  max-width: $maxWidth;
  width: 100%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;

  padding-right: $widePaddingRight;
  padding-left: $widePaddingLeft;

  @media screen and (max-width: $breakPoint) {
    padding-right: $narrowPaddingRight;
    padding-left: $narrowPaddingLeft;
  }

}

.siteTitle {
  display: inline-block;
  font-family: 'Orbitron', Montserrat, sans-serif;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $myColor;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  user-select: none;
  @media screen and (max-width: $breakPoint) {
    font-size: 20px;
  }
}