@import "../../styles/_config.scss";

.header {
  width: 100%;
  background-color: #fcfcfc;
  padding: 2.3rem 0;
  box-shadow: 0 2.2px 4px 0 rgba(0,0,0,0.1);
}

.headerContainer {
  max-width: $maxWidth;
  width: 100%;
  box-sizing: border-box;;
  margin-right: auto;
  margin-left: auto;

  padding-right: $widePaddingRight;
  padding-left: $widePaddingLeft;

  @media screen and (max-width: $breakPoint) {
    padding-right: $narrowPaddingRight;
    padding-left: $narrowPaddingLeft;
  }

}

.siteTitle {
  font-family: 'Orbitron', sans-serif;
  color: #0E0E0E;
  text-decoration: none;
  font-size: 30px;
}
// .siteTitle:hover {
//   text-decoration: none;
// }