@import "../../styles/_config.scss";

.main {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0.7px 4px 0 rgba(0, 0, 0, 0.05);
  max-width: $maxWidth;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 23px;

  padding-top: $widePaddingTop;
  padding-right: $widePaddingRight;
  padding-left: $widePaddingLeft;
  padding-bottom: $widePaddingBottom;

  // Mobile
  @media screen and (max-width: $breakPoint) {
    padding-top: $narrowPaddingTop;
    padding-right: $narrowPaddingRight;
    padding-left: $narrowPaddingLeft;
    padding-bottom: $narrowPaddingBottom;

    border-radius: 0px;
  }

  @media screen and (max-width: $maxWidth) {
    margin-top: 0px;
    margin-bottom: 0px;
    // z-index: -1;
    border-radius: inherit;
    box-shadow: inherit;
  }
}

// .contents {
//   // background-color: #fff;
//   // padding: 1rem;
//   width: 100%;
//   max-width: $maxWidth;
//   // padding-top: 2rem;
//   // padding-right: 1.3rem;
//   // padding-left: 1.3rem;
//   // padding-bottom: 3rem;
  
// }

.area {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}