@import '../../styles/config';

.articleTags {
  margin: 0 0 1rem 0;
}

.tag {
  display: inline-block;
  color: var(--color-link);
  margin-right: 1.6rem;
  margin-bottom: .5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 19px;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, 'BIZ UDPGothic', 'Yu Gothic UI', 'Meiryo UI', Helvetica, sans-serif;
  font-weight: 400;
  @media screen and (max-width: $breakPoint) {
    margin-right: 1.2rem;
    margin-bottom: .2rem;
    font-size: 17px;
  }
}
.tag:last-child {
  margin-right: 0;
}