@import '../../styles/config';

.articleTags {
  margin: 0 0 1rem 0;
}

.tag {
  display: inline-block;
  color: var(--color-link);
  margin-right: 1.3rem;
  margin-bottom: .3rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, 'BIZ UDPGothic', 'Yu Gothic UI', 'Meiryo UI', Helvetica, sans-serif;
  letter-spacing: .07rem;
  line-height: 1rem;
  @media screen and (max-width: $breakPoint) {
    margin-right: .8rem;
    margin-bottom: .2rem;
    font-size: 15px;
  }
}
.tag:last-child {
  margin-right: 0;
}