@import "../../styles/_config.scss";

.pageTitle {
  text-align: center;
  // font-size: 23px;
  font-size: 32px;
  margin-top: 1.3rem;
  margin-bottom: 3rem;
  @media screen and (max-width: $breakPoint) {
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}