// $maxWidth: 760px;
$maxWidth: 750px;

$breakPoint: 500px;

$wideMarginTop: 1.3rem;
$wideMarginButtom: 1.3rem;
$widePaddingTop: 2.5rem;
// $widePaddingRight: 40px;
// $widePaddingLeft: 40px;
$widePaddingRight: 25px;
$widePaddingLeft: 25px;
$widePaddingBottom: 3rem;

$narrowPaddingTop: 1.8rem;
// $narrowPaddingRight: 1.3rem;
// $narrowPaddingLeft: 1.3rem;
$narrowPaddingRight: 25px;
$narrowPaddingLeft: 25px;
$narrowPaddingBottom: 2.5rem;

$wideCodeMarginRight: - $widePaddingRight;
$wideCodeMarginLeft: - $widePaddingLeft;
$narrowCodeMarginRight: - $narrowPaddingRight;
$narrowCodeMarginLeft: - $narrowPaddingLeft;

/*=========================*/
// Colors
/*=========================*/
$myColor: #AA4444;

// Default Colors
$textColor: #333333;
$lightTextColor: #4c4c4c;
$bgColor: #fff;
$linkColor: #0774b5;
$lineColor: #ededed;
$themeSwitchBtnColor: #b3b3b3;

// Dark Mode Colors
$darkTextColor: #fff;
$darkLightTextColor: #e2e2e2;
$darkBgColor: #333333;
$darkLinkColor: #0774b5;
$darkLineColor: #484848;
$darkThemeSwitchBtnColor: #e2e2e2;
