// $maxWidth: 760px;
$maxWidth: 900px;

$breakPoint: 500px;

$widePaddingTop: 2.5rem;
// $widePaddingRight: 2.5rem;
// $widePaddingLeft: 2.5rem;
$widePaddingRight: 40px;
$widePaddingLeft: 40px;
$widePaddingBottom: 3rem;

$narrowPaddingTop: 2.5rem;
// $narrowPaddingRight: 1.3rem;
// $narrowPaddingLeft: 1.3rem;
$narrowPaddingRight: 20px;
$narrowPaddingLeft: 20px;
$narrowPaddingBottom: 2.5rem;

$wideCodeMarginRight: - $widePaddingRight;
$wideCodeMarginLeft: - $widePaddingLeft;
$narrowCodeMarginRight: - $narrowPaddingRight;
$narrowCodeMarginLeft: - $narrowPaddingLeft;

// Colors
$defaultLinkColor: #0774b5;