// $maxWidth: 760px;
$maxWidth: 800px;

$breakPoint: 500px;

$wideMarginTop: .5rem;
$wideMarginButtom: .5rem;
$widePaddingTop: 2.5rem;
// $widePaddingRight: 40px;
// $widePaddingLeft: 40px;
$widePaddingRight: 25px;
$widePaddingLeft: 25px;
$widePaddingBottom: 3rem;

$narrowPaddingTop: 1.8rem;
// $narrowPaddingRight: 1.3rem;
// $narrowPaddingLeft: 1.3rem;
$narrowPaddingRight: 20px;
$narrowPaddingLeft: 20px;
$narrowPaddingBottom: 2.5rem;

$wideCodeMarginRight: - $widePaddingRight;
$wideCodeMarginLeft: - $widePaddingLeft;
$narrowCodeMarginRight: - $narrowPaddingRight;
$narrowCodeMarginLeft: - $narrowPaddingLeft;

// Colors
$defaultLinkColor: #0774b5;
// $bgColorBody: #f3f3f3;
$bgColorBody: #fff;
$bgColorMain: #fff;