@import "./_config.scss";

// Default
:root {
  --color-text: #333333;
  // --color-light-text: #4c4c4c;
  --color-light-text: #6a6a6a;
  --color-bg: #fff;
  --color-link: #0774b5;
  --color-line: #ededed;
  --color-theme-switch-btn: #8d8d8d;
  --color-code-bg: #272822;
  --color-mini-code-bg: #eeeeee;
}
// Dark Mode
:root[data-theme=dark] {
  --color-text: #dfdfdf;
  --color-light-text: #9d9d9d;
  --color-bg: #222;
  --color-link: #09cbe6;
  --color-line: #343434;
  --color-theme-switch-btn: #e2e2e2;
  --color-code-bg: #0d1219;
  --color-mini-code-bg: #27364b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Arial", "メイリオ", "Meiryo", "sans-serif";
}

body {
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  font-kerning: normal;
  letter-spacing: 0.03rem;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  color: var(--color-text);
}


h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}