@import "./_config.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Arial", "メイリオ", "Meiryo", "sans-serif";
}

body {
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  font-kerning: normal;
  letter-spacing: 0.03rem;
  -webkit-font-smoothing: antialiased;
  // background-color: #f8f8f8;
  background-color: $bgColorBody;
  // background-color: #eff1f6;
  // background-color: #f6f1ef;
  color: $textColor;

  @media screen and (max-width: $maxWidth) {
    // background-color: #fff;
  }

  // @media (prefers-color-scheme: dark) {
  //   color: white;
  //   background-color: #333;
  // }
}


h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}